.slide-in {
  animation: slide-in 0.5s forwards;
  visibility: visible;
  opacity: 1;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  opacity: 0;
}

.initial-hidden {
  animation-duration: 0s !important;
  opacity: 0;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}